.gallery{
    padding: 120px 0;
    min-height: 1250px;
    background:url('../img/bg4.jpg') center (center/cover) no-repeat;
    text-align: center;
    &__wrapper{
        display: grid;
        grid-template-columns: 330px 400px 480px;
        justify-content: space-around;
        img{
            border: 1px solid $maincol;
        }
    }
    &__img1, &__img2{
        width: 330px;
        height: 360px;
        margin-right: 25px;
        img{
            width: 100%;
        }
    }
    &__img1{
        margin-bottom: 15px;
    }
    
    

    &__img3, &__img4, &__img5{
        width: 400px;
        img{
            width: 100%;
        }
    }
    &__img6, &__img7{
        width: 480px;
        img{
            width: 100%;
        }
    }
    &__title{
        margin-bottom: 100px;
    }
    &__img4{
        margin-top: 12px;
        margin-bottom: 20px;
    }
    &__img6{
        margin-bottom: 30px;
    }
}